title: "Rastros de Anis"
description: "Colagens, fragmentos e percursos digitais."
baseurl: ""
url: "https://rastrosdeanis.github.io"
markdown: kramdown
theme: null

collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: default
  - scope:
      path: ""
    values:
      layout: default

sass:
  style: compressed
